.compose {
}
.mailoptionscontainer {
  width: 15%;
  /* margin-top: 30px; */
  padding-top: 20px;
  padding-bottom: 20px;
  height: 100vh;
  background-color: antiquewhite;
}
.mailoptions {
  margin: 10px 10px 0px 10px;
}
.mailbuttons {
  background-color: antiquewhite !important;
  border: 0px !important;

  color: black !important;
}
.onclickbtn {
  background-color: skyblue !important;
}
.inboxcount {
  position: relative;
  display: inline-block;
  left: 20px;
  border: 1px solid green;
  background: green;
  width: 40px;
  border-radius: 5px;
}
